In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [3]:
df_train.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,51951.500000,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,29994.645522,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25975.750000,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,51951.500000,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,77927.250000,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

## Preprocessing Data

### Handle NaN

In [4]:
# Thay tháº¿ cÃ¡c giÃ¡ trá»‹ NaN báº±ng giÃ¡ trá»‹ trung bÃ¬nh cá»§a cá»™t Arrival Delay in Minutes
df_train['Arrival Delay in Minutes'].fillna(df_train['Arrival Delay in Minutes'].mean(), inplace=True)
df_test['Arrival Delay in Minutes'].fillna(df_test['Arrival Delay in Minutes'].mean(), inplace=True)

### Data Transformation

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in df_train.columns:
    if df_train[col].dtype == 'object':
        df_train[col] = le.fit_transform(df_train[col])
        df_test[col] = le.fit_transform(df_test[col])

## Data Normalization

In [6]:
from sklearn.preprocessing import MinMaxScaler

X_train = np.array(df_train.iloc[:, 1:-1])
y_train = np.array(df_train.iloc[:, -1])
X_test = np.array(df_test.iloc[:, 1:-1])
y_test = np.array(df_test.iloc[:, -1])

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

## Build Model

### Neural Network

In [7]:
from tensorflow.keras.utils import to_categorical

y_train = to_categorical(y_train)

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

ffnn = Sequential()
ffnn.add(Dense(64, activation='relu'))
ffnn.add(Dense(128, activation='relu'))
ffnn.add(Dense(256, activation='relu'))
ffnn.add(Dense(2, activation='softmax'))
ffnn.compile(loss='categorical_crossentropy', optimizer='adam', 
              metrics=['accuracy'])

ffnn.fit(X_train_scaled, y_train, epochs=10, batch_size=32, verbose=1)
y_pred_ffnn = ffnn.predict(X_test_scaled)

Epoch 1/10
3247/3247 [==============================] - 5s 1ms/step - loss: 0.1797 - accuracy: 0.9267
Epoch 2/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.1242 - accuracy: 0.9481
Epoch 3/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.1125 - accuracy: 0.9527
Epoch 4/10
3247/3247 [==============================] - 6s 2ms/step - loss: 0.1063 - accuracy: 0.9553
Epoch 5/10
3247/3247 [==============================] - 5s 1ms/step - loss: 0.1012 - accuracy: 0.9573
Epoch 6/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.0982 - accuracy: 0.9580
Epoch 7/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.0946 - accuracy: 0.9592
Epoch 8/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.0935 - accuracy: 0.9595
Epoch 9/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.0910 - accuracy: 0.9610
Epoch 10/10
3247/3247 [==============================] - 4s 1ms/step - loss: 0.0900 - accuracy: 0.9610
812/812 [==============================] - 1s 831us/step

In [9]:
y_pred_ffnn = y_pred_ffnn.argmax(axis=1)

In [10]:
from sklearn.metrics import accuracy_score, classification_report

acc_score_svm = accuracy_score(y_pred_ffnn, y_test)
print("accuracy:\n", acc_score_svm)

accuracy:
 0.9546119494918386

In [11]:
print(classification_report(y_test, y_pred_ffnn))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96     14573
           1       0.98      0.91      0.95     11403

    accuracy                           0.95     25976
   macro avg       0.96      0.95      0.95     25976
weighted avg       0.96      0.95      0.95     25976